.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}
.header {
  background: #20222b;
  color: white;
  margin-bottom: 1.6rem;
  padding: 1.6rem 0;
}
.header__title {
  font-size: 3.2rem;
  margin: 0;
}
.header__subtitle {
  color: #a5afd7;
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0;
}
.big-button {
  background: #8357c5;
  border: none;
  border-bottom: .6rem solid darkorchid;
  color: white;
  font-weight: bold;
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
  padding: 2.4rem;
  width: 100%;
}
.big-button:disabled {
  opacity: .5;
}
.button {
  background: #8357c5;
  border: none;
  border-bottom: .3rem solid darkorchid;
  color: white;
  font-weight: 500;
  padding: 1.2rem;
}
.button--link {
  background: none;
  border: none;
  color: #a5afd7;
  padding: 0;
}
.widget {
    background: #464b5e;
    margin-bottom: 4.8rem;
}
.widget__message {
    color: #a5afd7;
    margin: 0;
    padding: 3.2rem;
    text-align: center;
    border-bottom: 1px solid lightblue;
}
.widget-header {
    background: #3c4251;
    color: #a5afd7;
    padding: 1.6rem;
    display: flex;
    justify-content: space-between;
}
.widget-header__title {
    margin: 0;
}
.option {
    display: flex;
    justify-content: space-between;
    padding: 3.2rem 1.6rem;
    border-bottom: 1px solid lightblue;
}
.option__text {
    color: white;
    font-weight: 500;
    font-size: 2rem;
    margin: 0;
    word-break: break-all;
}
.add-option {
    display: flex;
    flex-direction: column;
    padding: 1.6rem;
}
.add-option__input {
    flex-grow: 1;
    background: #333745;
    border: none;
    border-bottom: .3rem solid darkslateblue;
    margin: 0 0 1.2rem 0;
    color: white;
    padding: 1.2rem;
}
.add-option-error {
    color: #a5afd7;
    font-style: italic;
    padding: 0 1.6rem;
    margin: 1.6rem 0 0 0;
}
.ReactModalPortal > div {
    opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 200ms ease-in-out;
}
.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}
.modal {
    background: #464b5e;
    color: white;
    max-width: 30rem;
    outline: none;
    padding: 3.2rem;
    text-align: center;
}
.modal__title {
    margin: 0 0 1.6rem 0;
}
.modal__body {
    margin: 0 0 3.2rem 0;
    font-size: 2rem;
    font-weight: 300;
    word-break: break-all;
}

@media (min-width: 45rem) {
    .add-option {
        flex-direction: row;
    }
    .add-option__input {
        margin: 0 1.2rem 0 0;
    }
    .header {
        margin-bottom: 4.8rem;
    }
    .big-button {
        margin-bottom: 4.8rem;
    }
}